@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
.dance-font{
    font-family: 'Dancing Script', cursive;
}

.spy{
    font-family:'peralta', serif;
}

textarea{
    background-image: url(../Images/diary-page1.jpg);
    width: 700px;
    height: 980px;
}

.container{
    position: relative;
}

#date{
    position: absolute;
    top: 3%;
    right: 285px;
    text-decoration: underline;
    font-weight: 600;
}

.card{
    position: relative;
    width: 300px;
    border: 2px solid #eee;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 5px;
}

.card-header i {
    float: right;
}

.alert{
    width: 700px;
    left: 209px;
}

.nav-item:hover{
    text-decoration: underline;
}