@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
.dance-font{
    font-family: 'Dancing Script', cursive;
}

body{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
.spy{
    font-family:'peralta', serif;
}
.instagram {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 2px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    font-size: 13px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

