@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
.body{
    margin: 0%;
    padding: 0%;
}

.spy{
    font-family:'peralta', serif;
}

.dance-font{
    font-family: 'Dancing Script', cursive;
}


.add{
    box-sizing: border-box;
}

.middle{
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
}
button{
    position: absolute;
    left: 45%;
    top: 255px;
    margin: 0 auto;
    font-size: 17px;
    padding: 5px;
    background-color: rgb(13, 13, 171);
    border-radius: 5px;
    border: #222;
}
textarea {
    width: 100%;
}
.middle1{
    max-width: 940px;
    margin: auto;
}

.card{
    position: relative;
    width: 300px;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 3px;
    margin: 5px 5px;
    padding: 5px;
    float: left;
}

.symbol{
    position: absolute;
    top: 3%;
    right: 3px;
}

small{
    position: absolute;
    bottom: 0%;
    right: 0px;
}

.adjust{
    left: 308px;
    width: 500px;
}
.nav-item:hover{
    text-decoration: underline;
}

.navbar-toggler-icon{
    position: fixed;
    top: 5%;
    right: 5%;
}